<p id="notice"><%= notice %></p>

<div class = "jumbotron"> 
  <h2>What do you want to <strong>improve?</strong></h2>
  <p><button type="button" class="btn btn-info"><%= link_to "Log In", new_user_session_path %></button> or <button type="button" class="btn btn-info"><%= link_to "Sign Up", new_user_registration_path %></button> to get started </p> 
</div> 

<% @categories.each do |category| %> 
<div class="container">
    <hr class="">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
                <h3 class=""><%= category.name %></h3>
            </div>
              <div class="panel-body"><%= category.description %></div>
              <div class="panel-footer"><%= link_to 'Get Started', new_experiment_path(category_id: category.id) %></div>
            </div>
          </div>
        </div>
      </div>
</div>
<% end %>
